@mixin mobile{
  @media  screen and (max-width:480px) {
   
  
  }
}
.blur{

background: orange;
border-radius: 50%;
filter: blur(170px);
z-index: 1;
width: 18rem;
height: 10rem;
left: 0;
position:absolute ;
right: 1rem;
}
$shadow:#888888;

.Navbar{
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4rem;
    background-color: #888888;
   font-size: x-large;
    height: 4rem;
    position: sticky;
  :Link{
    text-decoration: none;
  color: white;
  }
  .active{
color: white;
  }
}

.mainCh{
    background-color:#343434;
    padding-bottom: 1rem;
    @media  screen and (max-width:480px) {
    display: flex;
    flex-direction: column;
   height: 60rem;

   .checkbox{

  @media screen and (max-width:480px) {
    display: none;
  }
   }
    }
    .modeBtn{
     margin: 1rem;
     width: 2.5rem;
     @media screen and (max-width:480px) {
    width: 2.5rem;
    }

    }
.Chapter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   //color: white;
    position: relative;

    
    .Select{
    width:10rem;
    position: absolute;
    height: 2rem;

  
    box-shadow: 3px 3px $shadow;
    border: none;

    top:1rem;
    left:10rem;
    font-size: medium;
    @media  screen and (max-width:480px) {
   
   top:4rem;
   left: 12rem;
    }
    }
    .ReadBtn{
       
        position: absolute;
        right:10rem;
        @media  screen and (max-width:480px) {
        top:4rem;
        left: 2rem;
        }
       .btns{
        width: 8rem;
        height: 2rem;
        font-size: medium;
        background-color: #e9844ecb;
        color: white;
        border:none;
        border-radius: 3px;
        box-shadow: 3px 3px $shadow;
       
       }
       button:hover{
        cursor: pointer;
        color: black;
      }
       
    }
}

.chDiv{
     display: flex;
     flex-direction: column;
     position: relative;
     height: 20rem;
     @media  screen and (max-width:480px) {

   margin-left: -7rem;
     }
     
    p{
      //color: white;
      position: absolute;
      bottom: 2rem;
      left: 11%;
      //font-family: Arial, Helvetica, sans-serif;
      @media  screen and (max-width:480px) {
       display: none;

      }
   
    }
   .Ch{
    
  //color: white;
     margin-left:10rem;
    font-size:xx-large;
    padding: 1rem;
   }
   .Name{
   // color: white;
    position: absolute;
    left: 10rem;
    top: 5rem;
   }
   .summary{
   // color:white;
    position: absolute;
    top:1rem;
    width: 50rem;
    left: 40rem;

    @media  screen and (max-width:480px) {
   
   top: 10rem;
   left: 1rem;
    }
    //font-family: Arial, Helvetica, sans-serif;
    .summaryDiv{
      @media screen and (max-width:480px
      ) {
        display: flex;
margin-left: 8.5rem;
      }
    }
    .lines{
      font-family: Arial, Helvetica, sans-serif;
      word-spacing: 5px;
      @media  screen and (max-width:480px) {
       

width: 20rem;
      }
    }
   .btns{
   
   position: absolute;
   top:15rem;
margin-top: 1rem;
  display: flex;
  gap: 1rem;
  button{
    width: 6rem;
    height: 2.5rem;
background-color: #e9844ecb;
color: white;
font-weight: 600;
padding: 1rem;
border:none;
display: flex;
gap:0.5rem;
margin-top:-1rem;
box-shadow: 3px 3px $shadow;
border-radius:5px;
 }
 button:hover{
  cursor: pointer;
  color: black;
}
 
  @media  screen and (max-width:480px) {
     left: 13rem;
    top:24rem;
        }

   }
    }
}
}

.footer{
  background-color: #111b21;
  margin-top: -1.2rem;
  height: 10rem;
  .footercontainer{
   color:white;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   font-family: Arial, Helvetica, sans-serif;

  
  }
  .heading{
    margin-top: 3rem;
  }
  .linkDiv{
    position: absolute;
    top:3rem;
    display: flex;
   margin-top:3rem ;
    gap:1rem
  }
}


.shlok{
   background-color: #343434;
  position: relative;
  .row{
    
    .image{
  
      margin-left: 11rem;
   padding-top:20rem;
   @media  screen and (max-width:480px) {
   display: none;
// margin-left: 3rem;
       }

    }
    .shree{
   display: flex;
   justify-content: center;
    }
    .shlokNumber{
      color: white;
      position: absolute;
    
      top:20%;
      right: 40%;
      @media  screen and (max-width:480px) {
   
      top:17%;left: 1%;
               }
      .inp{
        color:white;
        background-color: #888888;
      }
    }
    .txtDiv{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media  screen and (max-width:480px) {
      width: 22rem;
       padding-left: 1%;
                }
      .bhagwat{
        color: darkgoldenrod;
      }
    }
  }
  .select{
top:5rem;
 height: 5rem;
  position: absolute;
  margin-left: 3rem;
  @media  screen and (max-width:480px) {
   left: rem;
    top: 4.5rem;

            }
 .shlokSelect{
  width: 10rem;
  height: 3rem;
  color: white;
  background-color:  #111b21;
  @media  screen and (max-width:480px) {
   width: 7rem;
   height: 2rem;
  margin-left: 10rem;
  background-color: #888888;
           }
 }
  }
}